{
    "valkey_servers": [
        {
            "ip": "10.0.0.x",
            "username": "login-username"
            "name": "arm-prototype"
        },
        {
            "ip": "10.0.0.y",
            "name": "grandmas-pc"
        },
        {
            "ip": "10.0.0.y"
        },
    ]
}
